<section class="sitemap">
    <div class="container">
        <h1 class="sitemap__title">Карта сайта</h1>
        <div class="sitemap__row">
            <div class="sitemap__main">
                <h2><a href="#" class="sitemap__title">Компания</a></h2>
                <ul class="sitemap__list">
                    <li><a href="#">О КОМПАНИИ</a></li>
                    <li><a href="#">Производство</a></li>
                    <li><a href="#">новости и статьи</a></li>
                    <li><a href="#">лицензии и сертификаты</a></li>
                    <li><a href="#">вакансии</a></li>
                    <li class="sitemap__sublist"><a href="#">Название вакансии</a></li>
                    <li class="sitemap__sublist"><a href="#">Название вакансии</a></li>
                    <li class="sitemap__sublist"><a href="#">Название вакансии</a></li>
                </ul>
                <h2><a href="#" class="sitemap__title">сервис</a></h2>
                <h2><a href="#" class="sitemap__title">партнеры</a></h2>
                <h2><a href="#" class="sitemap__title">ПРОЕКТЫ</a></h2>
                <h2><a href="#" class="sitemap__title">центр загрузки</a></h2>
                <ul class="sitemap__list">
                    <li><a href="#">Каталоги оборудования</a></li>
                    <li><a href="#">Презентации</a></li>
                    <li><a href="#">Опросные листы</a></li>
                    </ul>
                    <h2><a href="#" class="sitemap__title">Контакты</a></h2>
                    <h2><a href="#" class="sitemap__title">Связаться с нами</a></h2>
            </div>
            <div class="sitemap__second">
                <h2><a href="#" class="sitemap__title">Оборудование</a></h2>
                <ul class="sitemap__list">
                    <li><a href="#">Области применения фильтрации</a></li>
                    <li class="sitemap__sublist"><a href="#">Фильтр-прессы</a></li>
                    <li class="sitemap__sublist"><a href="#">Фильтры вакуумные ленточные</a></li>
                    <li class="sitemap__sublist"><a href="#">Дисковые вакуумные фильтры</a></li>
                    <li class="sitemap__sublist"><a href="#">Емкостные фильтры</a></li>
                    <li class="sitemap__sublist"><a href="#">Фильтр-прессы ленточные</a></li>
                    <li class="sitemap__sublist"><a href="#">Фильтровальные плиты LENSER</a></li>
                    <li class="sitemap__sublist"><a href="#">Фильтровальные ткани CLEAR EDGE и изделия из них</a></li>
                    <li class="sitemap__small"><a href="#">Фильтровальные салфетки для фильтр-прессов</a></li>
                    <li class="sitemap__small"><a href="#">Фильтровальные чехлы для дисковых вакуумных фильтров</a></li>
                    <li class="sitemap__small"><a href="#">Сетки для жидкостной фильтрации</a></li>
                    <li><a href="#">Сушильные комплексы</a></li>
                    <li class="sitemap__sublist"><a href="#">Барабанные сушилки</a></li>
                    <li class="sitemap__sublist"><a href="#">Теплогенераторы для сушильных комплексов и печных установок</a></li>
                    <li class="sitemap__sublist"><a href="#">Тягодутьевое оборудование</a></li>
                    <li><a href="#">Тепломассообменное оборудование</a></li>
                    <li class="sitemap__sublist"><a href="#">Печи с вращающимися барабанами</a></li>
                    <li class="sitemap__sublist"><a href="#">Барабанные сушилки и печи косвенного нагрева</a></li>
                    <li class="sitemap__sublist"><a href="#">Холодильники барабанные</a></li>
                    <li><a href="#">Газоочистка</a></li>
                    <li class="sitemap__sublist"><a href="#">Рукавные фильтры</a></li>
                    <li class="sitemap__small"><a href="#">ПРОИЗВОДСТВО КАРКАСОВ рукавных фильтров</a></li>
                    <li class="sitemap__small"><a href="#">Фильтровальные рукава (мешки)</a></li>
                    <li class="sitemap__sublist"><a href="#">Электрофильтры</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>